CONF/autoproxy-rules/gfwlist/*.txt
CONF/hostses/ipv6hosts/*.txt
CONF/ip-ranges/interfacelocal/*.ipv*
CONF/ip-ranges/linklocal/*.ipv*
CONF/ip-ranges/pkufreeip/*.ipv*
CONF/ip-ranges/pkuip/*.ipv*
CONF/ip-ranges/privatenetwork/*.ipv*
CONF/mainconf/*.ini
bind9conf/named.conf.*
confmake/*.mk*
confmake/gfwlist/gfwlist.*txt*
confmake/ipv6hosts/googlehosts.*txt*
confmake/pkufreeip/liebiao.txt*
dnsmasqconf/autoproxy/dns.*.txt*
hosts/hosts.*.txt*
iptables/dual-routes/dual.iptables*
iptables/dual-routes/uninstall.iptables
iptables/portmapping/mappings.iptables*
iptables/portmapping/uninstall.iptables
proxypac/proxy.php.data/*.php
proxypac/proxy.php.data/*.tmp
proxypac/proxy.txt
rssdesktop/BingDynamic/*.down*
rssdesktop/BingDynamic/*.in*
rssdesktop/BingDynamic/imglist.txt*
rssdesktop/NationalGeographic-PhotoOfTheDay/*.down*
rssdesktop/NationalGeographic-PhotoOfTheDay/*.in*
rssdesktop/NationalGeographic-PhotoOfTheDay/PAGE*
rssdesktop/NationalGeographic-PhotoOfTheDay/imglist.txt*
rssdesktop/NationalGeographic-PhotoOfTheDay/subPageMap.txt*
rssdesktop/www/imglist.txt
squidconf/autoproxy/apdm.*.txt*
squidconf/forward/built
squidconf/ip-ranges/iprg.*.txt*
squidconf/peer-select/conf.exported
sshconf/portmapping/ssh_config_forward
